<div class="containter">
    <div class="row">
        <div class="col-lg-4">
            <img href="#">
        </div>
        <div class="col-lg-6">
            <h1>Title of the posting</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Some text describing the post</p>
        </div>
    </div>
</div>