<nav class="navbar navbar-default navbar-fixed-top">

	<div class="container-fluid">


		<ul class="nav navbar-nav navbar-left nav-large-font">
			<li>
				<a href="signup">
					<button class="btn btn-info btn-round">Sign up</button>
				</a>
			</li>
			<li>
				<a href="#">
					<button class="btn btn-info btn-round" data-toggle="modal" data-target="#myModal">Log in</button>
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-center nav-large-font">
			<li>
				<a href="/" id="navHomeLink">GiftList</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right nav-large-font">
			<li>
				<a href="post">
					<button class="btn btn-give btn-info">Give!</button>
				</a>
			</li>
		</ul>

	</div>
	<!-- /.container-fluid -->

</nav>

<div class="vertical-center">
	<div class="container container-center">
		<div class="row">
			<div class="text-center col-md-12">

				<!-- INSERT TITLE HERE -->

				<h1 id="title" class="text-center">GiftList</h1>

				<div class="form-adjustment" id="serach-form">
					<form action="#" class="form-inline">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control input-lg" id="gg-search">
							</div>
						</div>
					</form>
				</div>

				<div class="button-adjustment">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<a href="#">
								<button class="btn btn-md search-btn" id="search-btn">Search</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Log in modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="login-card">
		<h1>Log in</h1>
		<br>
		<form>
			<input type="text" name="user" placeholder="Username">
			<input type="password" name="pass" placeholder="Password">
			<input type="submit" name="login" class="login login-submit" value="Log in">
		</form>

		<div class="login-help">
			<a href="singup">Register</a> •
			<a href="#">Forgot Password</a>
		</div>
	</div>
</div>


<footer class="navbar navbar-default navbar-fixed-bottom">

	<div class="container-fluid">

		<ul class="nav navbar-nav">
			<li>
				<a href="#">Advestising</a>
			</li>
			<li>
				<a href="#">Business</a>
			</li>
			<li>
				<a href="#">About</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#">Privacy</a>
			</li>
			<li>
				<a href="#">Terms</a>
			</li>
			<li>
				<a href="#">Settings</a>
			</li>
			<li>
				<a href="#">Use Google.co.th</a>
			</li>
		</ul>

	</div>
	<!-- /.container-fluid -->

</footer>

<script type="text/javascript">

	var recalledData;

	$("#search-btn").on("click", function (event) {

		event.preventDefault();
		let newSearched = $("#gg-search").val().trim();
		if (newSearched) {
			console.log(newSearched);
			windowocation.href = "/search/" + newSearched
		} else {
			window.location.href = "/list"
		};
	});





</script>