<nav class="navbar navbar-default top-bar">

	<div class="container-fluid">


		<ul class="nav navbar-nav navbar-left nav-large-font">
			<li>
				<a href="signup">
					<button class="btn btn-info btn-round">Sign up</button>
				</a>
			</li>
			<li>
				<a href="#">
					<button class="btn btn-info btn-round" data-toggle="modal" data-target="#myModal">Log in</button>
				</a>
			</li>
		</ul>


		<ul class="nav navbar-nav navbar-right nav-large-font">
			<li>
				<a href="post">
					<button class="btn btn-give btn-info">Give!</button>
				</a>
			</li>
		</ul>

	</div>
	<!-- /.container-fluid -->

</nav>
<div class="container">

	<h3 class="text-center" id="signup-title">Join GiftList Today!</h3>

	<form id="signup-form">
		<div class="form-group">
			<!--	<label for="exampleInputEmail1">Full Name</label> -->
			<input type="text" class="form-control inputs" id="exampleInputName" aria-describedby="emailHelp" placeholder="Full Name">

		</div>
		<div class="form-group">
			<!--	<label for="exampleInputEmail1">Full Name</label> -->
			<input type="text" class="form-control inputs" id="exampleInputPhone" aria-describedby="emailHelp" placeholder="Phone">

		</div>

		<div class="form-group">
			<!-- <label for="exampleInputEmail1">Email address</label> -->
			<input type="email" class="form-control inputs" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email">
		</div>
		<div class="form-group">
			<!--	<label for="exampleInputPassword1">Password</label> -->
			<input type="password" class="form-control inputs" id="exampleInputPassword" placeholder="Password">
		</div>
		<div class="form-check">
			<!-- <label class="form-check-label">
					<input type="checkbox" class="form-check-input inputs"> Check me out
				</label> -->
		</div>
		<button type="submit" class="btn btn-primary btn-post">Submit</button>
	</form>



</div>
<script type="text/javascript">
	$(document).ready(function () {

		$(".btn-post").on("click", function (event) {
			event.preventDefault();

			var newUser = {
				name: $("#exampleInputName").val().trim(),
				phone: $("#exampleInputPhone").val().trim(),
				email: $("#exampleInputEmail").val().trim(),
				pass: $("#exampleInputPassword").val().trim(),
			};

			$.ajax({
				method: "POST",
				url: "/user/new",
				dataType: "json",
				data: newUser
			}).done(function (response) {
				//response of post result comes from res.json({result})
				console.log(response);
				alert("Thanks for Singing up!");
				window.location.replace("/");
			});


		});

	});

</script>